$purepink: #FF0061;
$vividorange: #F39C12;
$gray: #595656;
$primarygradient: linear-gradient(48.91deg, #F39C12 20%, #FF0061 96%); 


.color-purepink{color:$purepink;}
.color-vividorange{color: $vividorange}
.color-gray{color: $gray;}