@import "media";
#header {
  #logo {
    background-image: url("../images/mk-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 160px;
    height: 94px;
    color: transparent;
    margin: 10px 0 5px;
    a {
      position: absolute;
      bottom: -20px;
      font-weight: 500;
      color: #f39c12;
      font-size: 1.1rem;
      background: #fff;
    }
  }
  @include sm {
    div {
      div {
        div {
          div:nth-child(0) {
            -webkit-order: 2;
            order: 2;
          }
          div:nth-child(1) {
            -webkit-order: 1;
            order: 1;
          }
        }
      }
    }
  }
}
