@import "media";
nav {
    .active-link {
        &:after {
            content: "";
            border-radius: 25%;
            width: 100%;
            height: 3px;
            background: linear-gradient(48.91deg, #f39c12 20%, #ff0061 96%);
            display: flex;
            margin-top: 0.375rem;
        }
    }
    li {
        display: inline-flex;
        margin-right: 18px;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    a {
        font-weight: 400;
        position: relative;
        &:hover {
            &:after {
                content: "";
                border-radius: 25%;
                width: 100%;
                height: 3px;
                background: linear-gradient(48.91deg, #f39c12 20%, #ff0061 96%);
                display: flex;
                margin-top: 0.375rem;
                position: absolute;
            }
        }
    }
    .nav-mobile,
    .close-nav-mobile {
        display: none;
    }
}
#header nav {
    .nav-mobile {
        text-transform: uppercase;
        @include sm {
            position: absolute;
            right: 10px;
            top: 10px;
            display: flex;
        }
    }
    .close-nav-mobile {
        display: none;
        text-transform: uppercase;
        left: 10px;
        top: 10px;
    }
    &.hidden {
        @include sm {
            .mobile-menu {
                transform: translateX(100%);
                right: -100%;
                display: none;
            }
            .close-nav-mobile {
                display: none;
            }
        }
    }
    @include sm {
        .mobile-menu {
            transition: all ease 0.5s;
            position: absolute;
        }
    }

    &::before {
        content: "";
        display: flex;
        transition: all ease 0.5s;
    }
    &.block {
        color: #ffffff;
        @include sm {
            &::before {
                left: 0;
                top: 0;
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.8);
                z-index: 1;
            }
            .close-nav-mobile {
                display: flex;
                position: absolute;
                z-index: 4;
                left: 50%;
                transform: translateX(-50%);
                top: 20px;
            }
            .nav-mobile {
                display: none;
            }
            .mobile-menu {
                transform: translateX(-50%);
                left: 50%;
                top: 60px;
                text-align: center;
                z-index: 3;
                li {
                    display: block;
                    margin: 25px 0;
                }
            }
        }
    }
}
