@import "mixin";
@import "media";

#portfolio-templ {
    padding: 30px 0;
    margin-top: -30px;
    transition: all ease 0.5s;
    &:hover {
        .proj-cover {
            transform: scale(1.26);
            @include sm {
                transform: none;
            }
        }
    }
    .proj-cover {
        transition: all ease 0.5s;
    }
    .title {
        &-proj {
            text-transform: uppercase;
            font-size: 2rem;
            color: #ffffff;
        }
        &-describe {
            font-size: 1.4rem;
            font-weight: 100;
            color: #ffffff;
        }
    }
}
.portfolio-content {
    padding: 25px 0;
}
.bshadow-mockup {
    @include box-shadow-mockup;
}
figcaption {
    text-align: center;
    margin-top: 15px;
    font-size: 0.875rem;
    color: #888585;
}
